<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge<<<<<<<<<<<<<<<<<<<<-->
<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<!--progressbar mit 4 starten, dann immer 8er schritte, um mit allen seiten auf 100 zu kommen-->
<mat-progress-bar mode="determinate" value="100"></mat-progress-bar>


  <p class="titlesize">Gab es sonstige Auffälligkeiten?</p>

<!-- infos und aufzählung-->

<p>Ist Ihnen sonst etwas aufgefallen, das hier nicht abgefragt wurde.</p>
<p>Auffälligkeiten können sein:</p>

<ul class="tabellefont">
  <li>Verbesserung/Verschlechterung des Schmerzes aus bestimmten Gründen (Therapie, Medikamente,...)</li>
  <li>oder bestimmte Auffälligkeiten die im Alltag aufgetreten sind</li>
</ul>

<!--textfeld zum eintragen-->
<mat-form-field class="formfieldmittig" floatLabel="auto" appearance="outline">
  <mat-label>Auffälligkeiten</mat-label>
  <input matInput required #message maxlength="128"/>

</mat-form-field>

<!--letzte Button und die Navigation-->
<mat-toolbar class="laneunten">
  <button mat-flat-button class="mat-buttoncustomcolor" routerLink="../home">Speichern</button>
</mat-toolbar>
<a mat-button class="hover-color-abbrechen" routerLink="../home">Abbrechen</a>
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge ende<<<<<<<<<<<<<<<<<<<<-->

