<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge<<<<<<<<<<<<<<<<<<<<-->
<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<!--progressbar mit 4 starten, dann immer 8er schritte, um mit allen seiten auf 100 zu kommen-->
<mat-progress-bar mode="determinate" value="20"></mat-progress-bar>


  <p class="titlesize">* Wann ist der Schmerz erneut aufgetreten?</p>

<!--Datum und Uhrzeit-->
<p>Bitte geben Sie das Datum ein:</p> <br />
<div class="datemitte">
<mat-form-field appearance="fill">
  <mat-label>Datum Wählen</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

</div>

<br /><p>Bitte geben Sie die Uhrzeit ein:</p> <br />

<ngx-timepicker-field #picker2 [format]="24" class="test"></ngx-timepicker-field>

<!--letzte Button und die Navigation-->
<mat-toolbar class="laneunten">
  <button mat-flat-button class="mat-buttoncustomcolor" routerLink="../old_diary_s2_where">Weiter</button>
</mat-toolbar>
<a mat-button class="hover-color-abbrechen" routerLink="../home">Abbrechen</a>
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge ende<<<<<<<<<<<<<<<<<<<<-->

