
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge<<<<<<<<<<<<<<<<<<<<-->
<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<!--progressbar mit 4 starten, dann immer 8er schritte, um mit allen seiten auf 100 zu kommen-->
<mat-progress-bar mode="determinate" value="28"></mat-progress-bar>


  <p class="titlesize">* Wie Stark war der Schmerz und wie lange hat er angedauert?</p>

  <p class="textunterslider">Geben Sie die Schmerzstärke ihres Schmerzes an. Die Stärke geht von 0 - Schmerzfrei bis 10 - Schmerz ist unerträglich.</p>

  <div class="slidermitte">
  <mat-slider [ngClass]="['mat-slider-' + slidervalue.value ]" #slidervalue
  thumbLabel
  tickInterval="1"
  max="10"
  (change)="updateSetting($event)" [value]="slidervalue"></mat-slider>
</div>
<div class="textunterslider">
  Schmerzstärke: {{slidervalue.value}}
</div>

<p class="textunten">Geben Sie die Dauer des Schmerzes ein (Stunden, Minuten):</p>
<div class="ng-number-picker">

  <ngx-timepicker-field #picker2 [format]="24" class="test"></ngx-timepicker-field>

</div>




<!--letzte Button und die Navigation-->
<mat-toolbar class="laneunten">
  <button mat-flat-button class="mat-buttoncustomcolor" routerLink="../diary_s5_activities">Weiter</button>
</mat-toolbar>
<a mat-button class="hover-color-abbrechen" routerLink="../home">Abbrechen</a>
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge ende<<<<<<<<<<<<<<<<<<<<-->

