<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<mat-toolbar class="zentrierung-home">
  <span>Informationen</span>
</mat-toolbar>
<!--Tabelle mit Informationen-->

<ul class="tabellefont">
  <li>Dieses Tagebuch dient zur Dokumentation ihrer Rückenschmerzen</li>
  <li>Bei Schmerzen, die nicht zumutbar sind, wird empfohlen sofort den Arzt aufzusuchen</li>
  <li>Die Fragen in diesem Tagebuch dienen dazu, den Arzt bei ihrer Diagnose/Therapie zu unterstützen</li>
  <li>Die Einträge in dem Tagebuch sollten wahrheitsgetreu und zeitnah erfolgen, sonst kann die Analyse der Daten zur Verschlechterung ihrer Beschwerden Beitragen</li>
  <li>mit * gekennzeichnete Felder sind Pflichtfelder die ausgefüllt werden müssen</li>

</ul>

<!--Button zur nächsten Seite-->
<mat-toolbar class="zentrierung-abstand">
  <button mat-raised-button class="mat-buttoncustomcolor" routerLink="../diary_s1_name">Zu den Fragen</button>
</mat-toolbar>


<!-- nochmal info text-->

<p class="infofont">Wir hoffen diese Anwendung Ihnen bei Ihren Rückenschmerzen weiterhelfen und zu einem schnelleren Erfolg verhelfen kann</p>

<!-- Checkbox um Info nicht mehr anzuzeigen-->
<mat-toolbar class="checkbox">
  <mat-checkbox>Informationen nicht mehr anzeigen</mat-checkbox>
</mat-toolbar>


  <mat-toolbar class="startseite-diaryinfostart">
    <a mat-button class="hover-color-startseite" routerLink="../home">< Zur Startseite</a>
  </mat-toolbar>

