/*Logogröße und Positionierung*/
.icon {
  display: flex;
  height: 20%;
  width: 20%;
  padding: 10%;

}
            /* muss so gemacht werden damit das Icon(Logo) mit % gemacht wird und dann mittig ist*/

.logotitel {
  display: flex;
  font-size: 150%;
  width: 30%;
  margin-left: 25%;

}
/*höhe der lane */
.logolane {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 15%;
  background: #fec7d7;
  color: #0e172c;
}

/*fontsize von aufzählung und info text unten*/
.infofont {
  font-size: 12px;
  text-align: center;
}

.tabellefont {
  font-size: 12px;
}

/*Zur Startseite Button unten*/

.hover-color-startseite:hover{
  background-color: #0e172c;
  color: #f9f8fc;
}
.hover-color-startseite {
  margin-left: 0%;
}

/*Checkbox mittig*/
.checkbox {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 5%;
  background: #fec7d7;
  color: #0e172c;
  font-size: 12px;

}
/*diaryinfostart seite unten der startseitenlink zentrierung und farbe etc.*/
.startseite-diaryinfostart {
  display: flex;
  height: 7%;
  background: #fec7d7;
  color: #0e172c;

}

