
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge<<<<<<<<<<<<<<<<<<<<-->
<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<!--progressbar mit 4 starten, dann immer 8er schritte, um mit allen seiten auf 100 zu kommen-->
<mat-progress-bar mode="determinate" value="84"></mat-progress-bar>

<!-- title der seite-->
  <p class="titlesize">Hatten Sie sonstige Begleitbeschwerden aufgrund des Rückenschmerzes?</p>

<!-- infos und aufzählung-->

<p>Begleitbeschwerden wären:</p>

<ul class="tabellefont">
  <li>Seelische oder körperliche Probleme</li>
  <li>oder Symptome wie Bluthochdruck, Kopfschmerzen, Trockenheitsgefühl, Taubheitsgefühl, ...</li>
  <li>seit Stunden auf dem Sofa gesessen oder vor dem PC</li>
  <li>eine Runde laufen gewesen</li>
</ul>

<!--textfeld zum eintragen-->
<mat-form-field class="formfieldmittig" floatLabel="auto" appearance="outline">
  <mat-label>Begleitbeschwerden</mat-label>
  <input matInput required #message maxlength="128"/>

</mat-form-field>

<!--letzte Button und die Navigation-->
<mat-toolbar class="laneunten">
  <button mat-flat-button class="mat-buttoncustomcolor" routerLink="../diary_s12_weather">Weiter</button>
</mat-toolbar>
<a mat-button class="hover-color-abbrechen" routerLink="../home">Abbrechen</a>
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge ende<<<<<<<<<<<<<<<<<<<<-->


