<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge<<<<<<<<<<<<<<<<<<<<-->
<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<!--progressbar mit 4 starten, dann immer 8er schritte, um mit allen seiten auf 100 zu kommen-->
<mat-progress-bar mode="determinate" value="4"></mat-progress-bar>

<p class="titlesize">* Name des Eintrags</p> <br />

<!--hier kommt der Name des Eintrags rein-->

<p class="textmitte">Bitte geben Sie den Namen des Eintrags ein:</p>

<mat-form-field class="formfieldmittig" floatLabel="auto" appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput required #message maxlength="20"/>
  <mat-hint mathint.align="end">{{message.value.length}} / 20</mat-hint>
</mat-form-field>



<!--letzte Button und die Navigation-->
<mat-toolbar class="laneunten">
  <button mat-flat-button class="mat-buttoncustomcolor" routerLink="../diary_s2_time">Weiter</button>
</mat-toolbar>
<a mat-button class="hover-color-abbrechen" routerLink="../home">Abbrechen</a>
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge ende<<<<<<<<<<<<<<<<<<<<-->
