/*Logogröße und Positionierung*/
.icon {
  display: flex;
  height: 50%;
  width: 50%;
  justify-content: center;
  margin-left: 25%;             /* muss so gemacht werden damit das Icon(Logo) mit % gemacht wird und dann mittig ist*/
}

/* Tabellen größe Positionierung usw. */
.listeeintrag {
  display: flex;
  flex-direction: column;
  max-height: 40%;
  min-width: 80%;
  align-items: center;
}

.mat-table {
  overflow: auto;
  max-height: 40%;
  width: 80%;

}
/*Farben in der Liste hover,click und Hintergrund*/
.mat-row.hovered {
  background: #0e172c;
}

.mat-row.highlighted {
  background: #0e172c;
  color: #d9d4e7;
}

mat-row {
  color: #0e172c;
  background: #a786df;
}

mat-cell {
  color: #fffffe;
  font-size: 10px;
}

/* Header Color von der Tabelle */
mat-header-row.make-background {
  background-color: #0e172c;
}
mat-header-cell {
  color: #fffffe;
}



/*Text in der LIste zentrieren*/
.center {
  text-align: center;
  justify-content: center;
}
/* checkboxes rechts verschieben*/
.right {
  margin-left: 90%;
}

/*Abbrechen Button unten*/
.hover-color-abbrechen:hover{
  background-color: #0e172c;
  color: #f9f8fc;
}
.hover-color-abbrechen {
  margin-left: 45%;
  margin-bottom: -20%;

 }

/*Zurück Button unten*/
.hover-color-back:hover {
  background-color: #0e172c;
  color: #f9f8fc;
}
.hover-color-back {
  margin-bottom: -20%;
}


