<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<mat-toolbar class="zentrierung-home">
  <span>Tagebucheintrag beendet</span>
</mat-toolbar>
<!--Tabelle mit Informationen-->

<p class="tabellefont">
Wichtige Informationen<br /><br />

Die Daten, die jetzt gespeichert wurden, können nur von Ihnen und den von Ihnen gewählten Therapeuten/Arzt eingesehen werden.
Sie haben die Möglichkeit die Daten zu bearbeiten.<br /><br />

Bitte führen Sie diese Tagebucheintragungen regelmäßig durch, auch wenn Sie nicht so starke oder keine Schmerzen haben, auch diese Informationen können den behandelnden Therapeuten/Arzt unterstützen.<br /><br />

Wir hoffen, das die Daten die aufgenommen wurden, Sie nun einen Schritt näher bringt zu einer korrekten Diagnose/Therapie, um ihre Lebensqualität schnellstmöglich wieder zu steigern.

</p>

<!-- Checkbox um Info nicht mehr anzuzeigen-->
<mat-toolbar class="checkbox">
  <mat-checkbox>Informationen nicht mehr anzeigen</mat-checkbox>
</mat-toolbar>

<!--Button zur nächsten Seite-->
<mat-toolbar class="zentrierung-abstand">
  <button mat-raised-button class="mat-buttoncustomcolor" routerLink="../home">Zurück zur Startseite</button>
</mat-toolbar>


