<!-- Logo + Appname-->
<mat-toolbar color="primary" class="zentrierung-icon">
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<mat-toolbar color="primary" class="zentrierung-home">
  <span>AWA | Ache Watcher APP</span>
</mat-toolbar>
<mat-toolbar color="primary" class="zentrierung-title">
  <span>Auswahlseite von</span>
</mat-toolbar>
<mat-toolbar color="primary" class="zentrierung-user">
  <span>[User]</span>
</mat-toolbar>


<!--Buttons etc-->
<section>
  <a mat-fab routerLink="xy" class="buttonfab" routerLinkActive="active">
    <mat-icon class="iconfab" >control_point</mat-icon>
  </a>
  <a mat-fab routerLink="../diaryoldoverview" class="buttonfab" routerLinkActive="active">
    <mat-icon class="iconfab" >build</mat-icon>
  </a>
</section>
<a mat-button color="primary" routerLink="../home">Abbrechen</a>
