
/*Logogröße und Positionierung*/
.icon {
  display: flex;
  height: 50%;
  width: 50%;
  justify-content: center;
  margin-left: 25%;             /* muss so gemacht werden damit das Icon(Logo) mit % gemacht wird und dann mittig ist*/
}

/* Größe Positionierung der Buttons*/
.buttonfabchoicenew {
width: 125px;
height: 125px;
margin-right: 5%;


}
.buttonfabchoiceold {
  width: 125px;
  height: 125px;
  margin-left: 5%;

  }
.iconfabchoice {
display: block;
width: 100%;
height: 100%;
margin-top: 5%;
font-size: 600%;
}

/*Abbrechen Button unten*/
.hover-color-abbrechen:hover{
  background-color: #0e172c;
  color: #f9f8fc;
}
.hover-color-abbrechen {
  margin-left: 72%;
}


