<!-- Logo + Appname-->
<mat-toolbar class="zentrierung-icon">
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<mat-toolbar class="zentrierung-home">
  <span>AWA | Ache Watcher APP</span>
</mat-toolbar>
<mat-toolbar class="zentrierung-title">
  <span>Tagebuch selektieren</span>
</mat-toolbar>
<mat-toolbar class="zentrierung-user">
  <span>[User]</span>
</mat-toolbar>
<!--Buttons etc-->
<mat-toolbar class="zentrierung-auswahl">
  <a mat-fab color="buttoncustomcolor" routerLink="../diaryinfostart" class="buttonfabchoicenew" routerLinkActive="active">
    <mat-icon class="iconfabchoice" >control_point</mat-icon>New
  </a>
  <a mat-fab color="buttoncustomcolor" routerLink="../diaryoldoverview" class="buttonfabchoiceold" routerLinkActive="active">
    <mat-icon class="iconfabchoice" >build</mat-icon>Cont.
  </a>
</mat-toolbar>
<mat-toolbar class="zentrierung-abstand">

</mat-toolbar>


<a mat-button class="hover-color-abbrechen" routerLink="../home">Abbrechen</a>
