
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge<<<<<<<<<<<<<<<<<<<<-->
<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<!--progressbar mit 4 starten, dann immer 8er schritte, um mit allen seiten auf 100 zu kommen-->
<mat-progress-bar mode="determinate" value="36"></mat-progress-bar>

<!-- title der seite-->
  <p class="titlesize">Welche Aktivitäten sind noch mit dem Schmerz machbar und welche nicht?</p>


<!-- Checkboxes und Überschriften + textfelder zum eintragen-->
  <mat-card class="farbehigh">
    <mat-card-content class="textsize">
      <p>machbare Aktivitäten</p>
      <section class="anpassungcb">
        <mat-checkbox class="abstandcb" >sitzen</mat-checkbox>
        <mat-checkbox class="abstandcb" >stehen</mat-checkbox>
        <mat-checkbox class="abstandcb" >Autofahren</mat-checkbox>
      </section>
      <section class="anpassungcb">
        <mat-checkbox class="abstandcb" >gehen        </mat-checkbox>
        <mat-checkbox class="abstandcb" >laufen       </mat-checkbox>
        <mat-checkbox class="abstandcb" >Einkaufen    </mat-checkbox>
      </section>
      <section class="anpassungcb">
        <mat-checkbox class="abstandcb" >liegen</mat-checkbox>
        <mat-checkbox class="abstandcb" >Arbeiten</mat-checkbox>
        <mat-checkbox class="abstandcb" >Sport treiben   </mat-checkbox>
      </section>
      <section class="anpassungcb">
        <mat-checkbox class="abstandcb" >sonstiges</mat-checkbox>
      </section>
      <mat-form-field class="formfieldmittig">
        <mat-label>sonstiges</mat-label>
        <input matInput required maxlength="25"/>
      </mat-form-field>

      <p>nicht machbare Aktivitäten</p>
      <section class="anpassungcb">
        <mat-checkbox class="abstandcb" >sitzen</mat-checkbox>
        <mat-checkbox class="abstandcb" >stehen</mat-checkbox>
        <mat-checkbox class="abstandcb" >Autofahren</mat-checkbox>
      </section>
      <section class="anpassungcb">
        <mat-checkbox class="abstandcb" >gehen        </mat-checkbox>
        <mat-checkbox class="abstandcb" >laufen       </mat-checkbox>
        <mat-checkbox class="abstandcb" >Einkaufen    </mat-checkbox>
      </section>
      <section class="anpassungcb">
        <mat-checkbox class="abstandcb" >liegen</mat-checkbox>
        <mat-checkbox class="abstandcb" >Arbeiten</mat-checkbox>
        <mat-checkbox class="abstandcb" >Sport treiben   </mat-checkbox>
      </section>
      <section class="anpassungcb">
        <mat-checkbox class="abstandcb" >sonstiges</mat-checkbox>
      </section>
      <mat-form-field class="formfieldmittig">
        <mat-label>sonstiges</mat-label>
        <input matInput required maxlength="25"/>
      </mat-form-field>
    </mat-card-content>
  </mat-card>





<!--letzte Button und die Navigation-->
<mat-toolbar class="laneunten">
  <button mat-flat-button class="mat-buttoncustomcolor" routerLink="../diary_s6_radiate">Weiter</button>
</mat-toolbar>
<a mat-button class="hover-color-abbrechen" routerLink="../home">Abbrechen</a>
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge ende<<<<<<<<<<<<<<<<<<<<-->

