
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge<<<<<<<<<<<<<<<<<<<<-->
<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<!--progressbar mit 4 starten, dann immer 8er schritte, um mit allen seiten auf 100 zu kommen-->
<mat-progress-bar mode="determinate" value="44"></mat-progress-bar>

<!-- title der seite-->
  <p class="titlesize">Strahlen die Schmerzen woanders aus?</p>

<!-- radio buttons-->
  <mat-radio-group>
    <mat-radio-button value="1">Ja</mat-radio-button>
    <mat-radio-button value="2">Nein</mat-radio-button>
  </mat-radio-group>
  <br />
  <!-- info text-->
  <p class="infofont">Wenn der Schmerz ausstrahlt wohin genau strahlt er aus, beschreiben Sie es wenn Sie die Lokalisierung nicht genau kennen</p>
  <!-- textfield zum eintragen-->
  <mat-form-field class="formfieldmittig" floatLabel="auto" appearance="outline">
    <mat-label>Beschreibung</mat-label>
    <input matInput required #message maxlength="128"/>
    <mat-hint mathint.align="end">{{message.value.length}} / 128</mat-hint>
  </mat-form-field>

<!--letzte Button und die Navigation-->
<mat-toolbar class="laneunten">
  <button mat-flat-button class="mat-buttoncustomcolor" routerLink="../diary_s7_factors">Weiter</button>
</mat-toolbar>
<a mat-button class="hover-color-abbrechen" routerLink="../home">Abbrechen</a>
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge ende<<<<<<<<<<<<<<<<<<<<-->

