
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge<<<<<<<<<<<<<<<<<<<<-->
<!--Logo + Überschrift der Seite was ist-->
<mat-toolbar class="logolane">
  <span class="logotitel">AWA</span>
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<!--progressbar mit 4 starten, dann immer 8er schritte, um mit allen seiten auf 100 zu kommen-->
<mat-progress-bar mode="determinate" value="92"></mat-progress-bar>

<!-- title der seite-->
  <p class="titlesize">Wie war das Wetter als der Schmerz aufgetreten ist?</p>




<!--letzte Button und die Navigation-->
<mat-toolbar class="laneunten">
  <button mat-flat-button class="mat-buttoncustomcolor" routerLink="../diary_s13_other">Weiter</button>
</mat-toolbar>
<a mat-button class="hover-color-abbrechen" routerLink="../home">Abbrechen</a>
<!--<<<<<<<<<<<<<<<<<<<<<<<< standard html tagebuch einträge ende<<<<<<<<<<<<<<<<<<<<-->


