
<!-- Logo + Appname-->
<mat-toolbar color="primary" class="zentrierung-icon">
  <span><img class="icon" src="assets/img/awa-logo512x512.png" alt="AWA-LOGO"></span>
</mat-toolbar>
<mat-toolbar color="primary" class="zentrierung-home">
  <span>AWA | Ache Watcher APP</span>
</mat-toolbar>
<mat-toolbar color="primary" class="zentrierung-title">
  <span>Wilkommen</span>
</mat-toolbar>
<mat-toolbar color="primary" class="zentrierung-user">
  <span>[User]</span>
</mat-toolbar>

<!-- Buttons -->
<section>
<a mat-fab [routerLink]="['/diarychoice']" class="buttonfab" routerLinkActive="active">
  <mat-icon class="iconfab" >favorite</mat-icon>
</a>
</section>

<section>
  <button mat-mini-fab>
    <mat-icon>list</mat-icon>
  </button>
  <button mat-mini-fab>
    <mat-icon>settings</mat-icon>
  </button>
</section>

<section>
  <button mat-mini-fab>
    <mat-icon>logout</mat-icon>
  </button>
</section>





