/* Styles von den Buttons auf der Homeseite
*/

.buttonfab {
  width: 150px;
  height: 150px;
}
.iconfab {
  display: block;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  font-size: 900%;
}
/*positionierung der buttons*/
.iconfabkleinmittelinks {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 300%;
}

.buttonfabkleinmittelinks {
  width: 90px;
  height: 90px;
  margin-right: 10%;
}

.iconfabklein {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 300%;
}

.buttonfabklein {
  width: 90px;
  height: 90px;

}

/*Logogröße und Positionierung*/
.icon {
  display: flex;
  height: 50%;
  width: 50%;
  justify-content: center;
  margin-left: 25%;             /* muss so gemacht werden damit das Icon(Logo) mit % gemacht wird und dann mittig ist*/
}
