/*--------------------standard template css--------------------------*/
/*Abbrechen Button unten*/
.hover-color-abbrechen:hover{
  background-color: #0e172c;
  color: #f9f8fc;
}
.hover-color-abbrechen {
  margin-left: 70%;
  position: absolute;
  right:    0;
  bottom:   0;
}

/*Logogröße und Positionierung*/
.icon {
  display: flex;
  height: 20%;
  width: 20%;
  padding: 10%;
}

/* muss so gemacht werden damit das Icon(Logo) mit % gemacht wird und dann mittig ist*/

.logotitel {
  display: flex;
  font-size: 150%;
  width: 30%;
}

/*höhe der lane */
.logolane {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 10%;
  background: #fec7d7;
  color: #0e172c;
}
/*unten der button das er unten ist und mittig mit farbe etc.*/
mat-toolbar.laneunten{
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 9%;
  background: #fec7d7;
  color: #0e172c;
  position: absolute;
  right:    0;
  bottom:   5%;
}

/*progressbar farbe + das es etwas unter dem logo ist*/
::ng-deep .mat-progress-bar-fill::after {
  background-color: #0e172c;
}

::ng-deep .mat-progress-bar-buffer {
  background: #f9f8fc;
}

::ng-deep .mat-progress-bar {
  margin-top: 1%;
}
/*title name zentrierung größe etc.*/
.titlesize {
  font-size: 150%;
  text-align: center;
  margin-top:3%;

}
/*----------------standard template css ende------------------------------*/
/*----------------------hier wird das input farblich gesetzt----------------------------*/
/* mat-icon-stepper selected color change*/
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #0e172c!important;
}

/*input outline color*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #f9f8fc!important;
  opacity: 1!important;
}

/*mat-input focused color*/
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #0e172c!important;
}

/* mat-input error outline color*/
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}

/* mat-input carent color*/
::ng-deep .mat-input-element {
  caret-color: #0e172c!important;
}

/* mat-input error carent color*/
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red!important;
}

/* mat-label normal state style*/
::ng-deep .mat-form-field-label {
  color: #f9f8fc!important;

}

/* mat-label focused style*/
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #0e172c!important;
}

/* mat-label error style*/
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
}

/*formfeld wird mittig gesetzt*/
.formfieldmittig {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

/*-------------------------------input farblich ende*-------------------*/


/*checkboxes ausrichtung und abstand etc. farben
*/

.anpassungcb {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;

  height: 5%;
}

.abstandcb {
  margin-left: 5%;
}


.abstandcbr {
  margin-left: 5%;
  margin-right: 20%;
}
